/reccomendacion/nbproject/private/
/redes-soc/nbproject/private/
/redes-soc/build/
redes-soc/graph/twitter.csv
redes-soc/degrees/small2_degrees.csv
redes-soc/degrees/small2_counted_degrees.csv
redes-soc/degrees/small1_degrees.csv
redes-soc/degrees/small1_counted_degrees.csv
redes-soc/degrees/facebook_degrees.csv
redes-soc/degrees/facebook_counted_degrees.csv
redes-soc/degrees/er_degrees.csv
redes-soc/degrees/er_counted_degrees.csv
redes-soc/degrees/ba_degrees.csv
redes-soc/degrees/ba_counted_degrees.csv
redes-soc/graph/barabasi.csv
redes-soc/graph/baGraph.csv
redes-soc/degrees/twitter_degrees.csv
redes-soc/degrees/twitter_counted_degrees.csv
redes-soc/degrees/small3_degrees.csv
redes-soc/degrees/small3_counted_degrees.csv
redes-soc/graph/small2.csv
redes-soc/graph/small1.png
redes-soc/graph/small1.csv
redes-soc/graph/facebook_combined.txt
redes-soc/graph/erdos.csv
redes-soc/graph/erGraph.csv
redes-soc/graph/small3.png
redes-soc/graph/small3.csv
redes-soc/graph/small2.png
